.product-details{
    margin-top: 50px;
    margin-bottom: 80px;
   
}
.product-image{
    width: 100%;
    height: 400px;
   margin-top: 15px;
    object-fit: contain;
}
.product-color{
    border: 3px solid #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
h1,h3,h4{
    margin-bottom: 20px;
}
.form-button{
    height:35px;
    border: 1px solid blueviolet;
    color: blueviolet;
    cursor: pointer;
    margin:1px;
}
.quantity-group{
    margin-top: 20px;
}
.quantity-group button{
    padding: 10px;
}
.quantity-group input{
    padding: 10px;
    width: 50px;
}