
<section class="vh-100">
    <div class="container h-100 mt-3 mb-2">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-10">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-3">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4"> <u>Update Product</u></p>
                  <p class="message_p">{{ productMessage }}</p>
                 
  
                  <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="mx-1 mx-md-4">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" name="name" class="form-control" ngModel="{{productData?.name}}" />
                        <label class="form-label" for="form3Example1c"> Product Name</label>
                        <span class="text-danger">*</span>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" name="price" class="form-control"  ngModel="{{productData?.price}}"/>
                        <label class="form-label" for="form3Example3c">Product Price</label>
                        <span class="text-danger">*</span>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" name="color" class="form-control"  ngModel="{{productData?.color}}"/>
                        <label class="form-label" for="form3Example4c">Product Color</label>
                        <span class="text-danger">*</span>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" name="category" class="form-control"  ngModel="{{productData?.category}}"/>
                        <label class="form-label" for="form3Example4c">Product Category</label>
                        <span class="text-danger">*</span>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      
                      <div class="form-outline flex-fill mb-0">
                        <textarea type="text" name="description" class="form-control"  ngModel="{{productData?.description}}"></textarea>
                        <label class="form-label" for="form3Example4c">Product Description</label>
                        <span class="text-danger">*</span>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" name="image" class="form-control"  ngModel="{{productData?.image}}"/>
                        <label class="form-label" for="form3Example4c">Product Image</label>
                        <span class="text-danger">*</span>
                      </div>
                    </div>
  
  
  
  
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button class="btn btn-primary btn-lg">Update Product</button>
  
                    </div>
                    
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img
                    src="https://img.freepik.com/free-vector/user-with-laptop-smartphone-synchronizing-cross-device-syncing-cross-device-synchronization-operation-concept-white-background-bright-vibrant-violet-isolated-illustration_335657-310.jpg?w=2000"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

